body,
html {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 100%;
  background-color: #369a92;
  padding-bottom: 22px;
  padding-top: 20px;
}

html {
  scroll-behavior: smooth;
}

.logo {
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.logo:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.button {
  background: none;
  border: none;
  padding: 14px 16px;
  cursor: pointer;
  outline: inherit;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  font-weight: 548;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
}

.button:hover {
  color: #ff6600;
}

.button2 {
  background: none;
  padding: 14px 14px;
  cursor: pointer;
  outline: inherit;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  font-weight: 548;
  border: 2.6px solid aliceblue;
  border-radius: 5px;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.button2:hover {
  color: #ffffff;
  border-color: #fcfcfc;
  transition: transform 0.3s ease-in-out;
  background-color: #ff6600;
}


.icon{
  width: 100%;
  color: aliceblue;
  background-color: #203a41;
  
}
@media screen and (max-width: 1100px) {
  .menu {
    display: none;
  }


}
