@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home {
  width: 100%;
  height: 100%;
  background-color: #369a92;
  overflow-y: hidden;
}

.containerHome {
  top: 0;
  overflow-y: hidden;
  display: flex;
}

.title {
  margin-left: 3%;
  width: 50%;
  font-size: 6vw;
  color: aliceblue;
  font-weight: 900;
  font-family: Poppins;
  overflow-y: hidden;
  justify-content: space-between;
  margin-top: 2%;
}

.homePhoto {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  height: auto;
  justify-content: space-between;
}

.imgPfp {
  width: 23%;
  border-radius: 50%;
  overflow-y: hidden;
  margin-right: 8%;
  margin-top: 2%;
}

.buttonHome {
  padding: 14px 25px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: center;
  text-decoration: none;
  border: 2.6px solid aliceblue;
  border-radius: 5px;
  margin-left: 3%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.buttonHome {
  display: flex;
  margin-bottom: 12%;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 5%;
}

.span {
  animation: background 20s linear infinite;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgb(216, 54, 26) 0%,
    rgb(133, 17, 187) 10%,
    rgb(202, 63, 21) 20%,
    rgb(212, 95, 95) 30%,
    rgb(211, 145, 22) 40%,
    rgb(179, 23, 140) 50%,
    rgb(231, 85, 153) 70%,
    rgb(206, 115, 99) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.span:nth-child(1) {
  font-size: 6vw;
  line-height: 85%;
  text-indent: -0.33em;
}

.span:nth-child(2) {
  font-size: 6vw;
  line-height: 69%;
  word-spacing: -0.2em;
  text-indent: -0.07em;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/**animación fadeIn**/

body {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
/**-**/

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(54, 154, 146);
  background: linear-gradient(
    180deg,
    rgba(54, 154, 146, 1) 0%,
    rgba(54, 154, 146, 1) 75%,
    rgba(14, 53, 61, 1) 100%
  );
}

.buttonHome:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.buttonHome:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #bd6e39;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.buttonHome:hover:before {
  top: -35%;
  background-color: #ff6600;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.buttonHome:hover:after {
  top: -45%;
  background-color: #ff6600;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.twoColumns {
  display: flex;
  flex-direction: row;
}

.colorColumn {
  flex: 0.5;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  height: 2200px;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textColumn {
  flex: 1;
}

.section-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.active-section .section-transition {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  pointer-events: auto;
}

.textColumn {
  align-items: center;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

.textAbout {
  color: aliceblue;
  font-size: 20px;
  line-height: 35px;
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  width: 100%;
}

.icons {
  width: 110%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
  align-items: center;
  margin-bottom: 80px;
}

.titleAbout {
  color: #ffffff;
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding-top: 90px;
  text-align: center;
  overflow-y: hidden;
}

.dividerContainer {
  text-align: center;
}

.divider {
  height: 1.2px;
  background-color: #066c70a1;
  border-radius: 5px;
}

/**Work**/

.containerWork {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px;
}

.titleWork {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: 800;
}

.parrafoWork {
  color: #ffffff;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Poppins;
  font-weight: light;
  width: 100%;
}

.contact {
  margin-left: 20px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.titleContact {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: 800;
}

.textContact {
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 1000;
}

/**EMAIL SECTION**/

.emailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
  margin-top: 40px;
}

.emailContainer:hover .emailIcon {
  color: #ff6600;
}

.emailContainer:hover .emailText {
  color: #ff6600;
}

.hoverable:hover {
  color: #ff6600;
}

.downloadContainer {
  justify-content: left;
  margin-left: 20px;
}

.download {
  display: flex;
  text-align: center;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  width: 12%;
}

.download:hover {
  background-color: #ff6600;
  scale: 1;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.contactMe {
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: -170px;
}

.contactoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10e0e744;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.emailIcon {
  width: 30px;
  height: 30px;
  color: white;
  margin-left: 20px;
}

.emailText {
  font-size: 20px;
  color: #ffffffa8;
  margin-top: 10px;
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: 600;
}

.emailText {
  -webkit-animation: focus-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    1.5s infinite alternate-reverse;
  animation: focus-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    infinite alternate-reverse;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.parrafoContact {
  color: #ffffff;
  font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

@media screen and (max-width: 500px) {
  .inicio {
    background-color: #369a92;
    width: 100%;
  }

  .homePhoto {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgPfp {
    width: 40%;
    height: 40%;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 3vw;
  }
  .span {
    font-size: 3vw;
  }

  .containerHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
  }

  .buttonHome {
    width: 100%;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }

  .titleAbout {
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .textAbout {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .icons {
    width: 110%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
  }

  .colorColumn {
    display: none;
  }

  .containerAbout2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .textAbout2 {
    font-family: Poppins;
    color: aliceblue;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title {
    width: 100%;
    font-size: 25px;
    color: aliceblue;
    font-weight: 1000;
    font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    overflow-y: hidden;
  }

  .parrafoWork {
    font-size: 60px;
    margin-bottom: 50px;
    font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 16px 32px;
    width: 100%;
  }

  .textCar {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 16px 32px;
    margin-top: -60px;
    margin-top: 10px;
    width: 100%;
  }

  .parrafoWork {
    color: #ffffff;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    width: fit-content;
    width: 100%;
  }

  .textWork {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .contact {
    margin-left: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .textContact {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    font-family: "Poppins", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
  }

  .downloadContainer {
    margin-top: 50px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .textos {
    display: block;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

/**footer**/
.footer {
  width: 100%;
  margin-top: 60%;
  margin-bottom: 2%;
}

.seguime {
  width: 100%;
  margin-bottom: -4%;
  color: white;
}
.dividerFooter {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dividerFoot {
  width: 500px;
  height: 1.2px;
  background-color: #f7f8f859;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.iconosFooter {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 15px;
  cursor: pointer;
  justify-content: center;
  width: 100%;
}

.iconosFooter :hover {
  color: #ff6600;
}

.logoFooter a {
  height: 90px;
  margin-top: 10%;
  margin-bottom: 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logoFooter {
  animation-name: flash;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes flash {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  .dividerFoot2 {
    width: 50%;
    height: 1.2px;
    background-color: #066c70a1;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-top: 2px;
    text-align: center;
    justify-content: center;
  }

  .contactoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10e0e744;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.473);
    -webkit-box-shadow: 10px 10px 20px -11px rgba(0, 0, 0, 0.507);
    -moz-box-shadow: 10px 10px 20px -11px rgba(0, 0, 0, 0.548);
    margin-bottom: 20%;
    text-align: center;
    font-size: 20%;
  }
}
