
.dividerFooter{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
   }
  
  .dividerFoot{
    width: 900px;
    height: 1.2px;
    background-color: #066c70a1;
    display: inline-block;
    border-radius: 5px;
  }

  .iconosFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
    cursor: pointer;
  }

  .iconosFooter :hover{
    color: #ff6600;
  }


.dividerFoot2{
  width: 100%;
  height: 1.2px;
  background-color: #066c70a1;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 2px;
}
  
.logoFooter{
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-top: -20px;
  margin-bottom: 20px;
  }


.logoFooter{
  animation-name: flash;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes flash {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  .dividerFoot2{
    width: 50%;
    height: 1.2px;
    background-color: #066c70a1;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-top: 2px;
    text-align: center;
    justify-content: center;
  }
    
}